.container
  %h1 API Permissions

  - if @customer.bing_ads_access_token.nil?
    %h4
      Bing Ads:
      =link_to "Grant API Access", @bing_ads_register_url
    %p (You will be taken to your Bing Ads account to log in and grant authorization. You will then be returned here.)
  - else
    %h4
      Bing Ads:
      %span.text-success API ACCESS GRANTED
  - if @customer.adwords_access_token.nil?
    %h4
      Google AdWords:
      =link_to "Grant API Access", adwords_initiate_path
    %p (You will be taken to your AdWords account to log in and grant authorization. You will then be returned here.)
  - else
    %h4
      Google AdWords:
      %span.text-success API ACCESS GRANTED
