.container
  %h1 API Permissions

  %h4
    Bing Ads:
    - if @customer.bing_ads_api_key.nil?
      =link_to "Grant API Access", @bing_ads_register_url
    - else
      %span.text-success API ACCESS GRANTED
  %p
    - if @customer.bing_ads_api_key.nil?
      (You will be taken to your Bing Ads account to log in and grant authorization. You will then be returned here.)
