#all
  %section#intro.text-intro.no-padding-bottom
    .container
      .row
        .col-md-12
          %h1
            How about a client dashboard
            %span that&nbsp;doesn't&nbsp;suck?
          %h2
            %span Icarus&nbsp;Reporting
            \- fast, professional, unified
            client&nbsp;dashboards and automated&nbsp;reports for digital&nbsp;marketing&nbsp;agencies.
          %h3.weight-300
            No more slow, amateur-looking, glue-a-bunch-of-widgets-together, takes-you-sort-of-90%-of-the-way-there, I-guess-it's-good-enough
            = succeed '.' do
              %strong bullshit
            %span You make your clients a lot of money. Icarus Reporting makes sure they know it.
      .row
        .col-md-12
          %h3.phone-number.weight-300 Call (804) 396-2862 to learn more.
        .col-md-12.col-lg-8.col-lg-offset-2
          %p.margin-bottom--zero
            %img.img-responsive{:alt => "", :src => "icarus_reporting/img/dashboard-screenshot.png"}/
  %footer.footer
    .footer__copyright
      .container
        .row
          .col-md-6
            %p &copy;2016 Icarus Reporting
          .col-md-6
            %p.credit.pull-right
              Template by
              %a.external{:href => "http://bootstrapious.com/landing-pages"} Bootstrapious
            / Please do not remove the backlink to us. It is part of the license conditions. Thanks for understanding :)

