%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid.container-fluid-spacious
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to image_tag("netsearch-logo-small.png"), "http://www.netsearchdirect.com", :class => "navbar-brand"
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          %a{ :href => "" } PPC Dashboard
        %li
          %a{ :href => "" } SEO Dashboard
      %ul.nav.navbar-nav.logout
        %li
          =button_to 'Log Out', logout_path, method: :delete, class: "btn btn-default-outline"
.container-fluid.container-fluid-spacious
  .dashhead.m-t-md
    .dashhead-titles
      %h2.dashhead-title
        =@client.name
        \- PPC Dashboard
    .btn-toolbar.dashhead-toolbar
      .btn-toolbar-item
        .input-with-icon
          %input.date-picker.form-control{:type => "text"}
          %span.icon.icon-calendar
  .hr-divider.m-t-lg.m-b-md
    %h3.hr-divider-content.hr-divider-heading Financial Metrics
  .row.statcards.financial-metrics
    .col-md-6.m-b-md
      .statcard.leads-widget
        .p-a.total-leads
          %span.statcard-desc Total Leads
          %h2.statcard-number
            %span.chart-summary-metric 0
            -#%small.label.label-success 5%
        .p-a.forms
          %span.statcard-desc Forms
          %h2.statcard-number
            %span.label &nbsp;
            %span.chart-summary-metric 0
        .p-a.calls
          %span.statcard-desc Calls
          %h2.statcard-number
            %span.label &nbsp;
            %span.chart-summary-metric 0
        %canvas.dashboard-chart.ex-bar-graph.leads-chart{:width => "378",
          :height => "94",
          :style => "width: 189px; height: 47px;"}
    .col-md-6.m-b-md
      .statcard.cost-widget
        .p-a.cost
          %span.statcard-desc Cost
          %h2.statcard-number
            %span.chart-summary-metric $0.00
            -#%small.label.label-danger 1.3%
        .p-a.cost-per-lead
          %span.statcard-desc Cost per Lead
          %h2.statcard-number.chart-summary-metric $0.00
        %canvas.dashboard-chart.ex-line-graph.cost-chart{:width => "378",
          :height => "94",
          :style => "width: 189px; height: 47px;"}
  .hr-divider.m-t-lg.m-b-md
    %h3.hr-divider-content.hr-divider-heading Funnel Metrics
  .row.statcards.funnel-metrics
    .col-md-3.m-b-md
      .statcard.impressions-widget
        .p-a
          %span.statcard-desc Impressions
          %h2.statcard-number.chart-summary-metric 0
        %canvas.dashboard-chart.ex-line-graph.impressions-chart{:width => "378",
          :height => "94",
          :style => "width: 189px; height: 47px;"}
    .col-md-3.m-b-md
      .statcard.click-through-rate-widget
        .p-a
          %span.statcard-desc Click Through Rate
          %h2.statcard-number.chart-summary-metric 0.00%
        %canvas.dashboard-chart.ex-line-graph.click-through-rate-chart{:width => "378",
          :height => "94",
          :style => "width: 189px; height: 47px;"}
    .col-md-3.m-b-md
      .statcard.clicks-widget
        .p-a
          %span.statcard-desc Clicks
          %h2.statcard-number.chart-summary-metric 0
        %canvas.dashboard-chart.ex-line-graph.clicks-chart{:width => "378",
          :height => "94",
          :style => "width: 189px; height: 47px;"}
    .col-md-3.m-b-md
      .statcard.conversion-rate-widget
        .p-a
          %span.statcard-desc Conversion Rate
          %h2.statcard-number.chart-summary-metric 0.00%
        %canvas.dashboard-chart.ex-line-graph.conversion-rate-chart{:width => "378",
          :height => "94",
          :style => "width: 189px; height: 47px;"}
  .hr-divider.m-t-lg.m-b-md
    %h3.hr-divider-content.hr-divider-heading Google Ad Network
  .row.statcards.ad-network-metrics.google-ad-network
    .col-sm-3.m-b-md
      .statcard.statcard-primary
        .p-a
          %span.statcard-desc Average Ad Position
          %h2.statcard-number
            1.00
            %small.delta-indicator.delta-positive 0%
          %hr.statcard-hr.m-b-0
        %canvas.dashboard-chart.sparkline.google-ad-position-chart{:width => "111",
          :height => "27",
          :style => "width: 111px; height: 27px;"}
    .col-sm-3.m-b-md
      .statcard.statcard-primary
        .p-a
          %span.statcard-desc Cost per Click
          %h2.statcard-number
            $0.00
            %small.delta-indicator.delta-negative 0%
          %hr.statcard-hr.m-b-0
        %canvas.dashboard-chart.sparkline.google-cpc-chart{:width => "111",
          :height => "27",
          :style => "width: 111px; height: 27px;"}
    .col-sm-3.m-b-md
      .statcard.statcard-primary
        .p-a
          %span.statcard-desc Conversion Rate
          %h2.statcard-number
            0.00%
            %small.delta-indicator.delta-negative 0%
          %hr.statcard-hr.m-b-0
        %canvas.dashboard-chart.sparkline.google-conversion-rate-chart{:width => "111",
          :height => "27",
          :style => "width: 111px; height: 27px;"}
    .col-sm-3.m-b-md
      .statcard.statcard-primary
        .p-a
          %span.statcard-desc Click Through Rate
          %h2.statcard-number
            0.00%
            %small.delta-indicator.delta-positive 0%
          %hr.statcard-hr.m-b-0
        %canvas.dashboard-chart.sparkline.google-ctr-chart{:width => "111",
          :height => "27",
          :style => "width: 111px; height: 27px;"}
  .row.ad-network-keywords.google-ad-network
    .col-md-6.m-b-md
      .list-group
        %h4.list-group-header
          Search Query
          %span.pull-right Clicks
        .list-group-item
          %span.list-group-progress{:style => "width: 48%;"}
          %span.pull-right 40
          1. fire wood
        .list-group-item
          %span.list-group-progress{:style => "width: 20%;"}
          %span.pull-right 13
          2. fire wood for sale
        .list-group-item
          %span.list-group-progress{:style => "width: 13%;"}
          %span.pull-right 10
          3. wood for sale
        .list-group-item
          %span.list-group-progress{:style => "width: 7.25%;"}
          %span.pull-right 4
          4. wood splitters
        .list-group-item
          %span.list-group-progress{:style => "width: 3.7%;"}
          %span.pull-right 4
          5. buy wood splitter
        .list-group-item
          %span.list-group-progress{:style => "width: 1.3%;"}
          %span.pull-right 2
          6. split wood
    .col-md-6.m-b-md
      .list-group
        %h4.list-group-header
          Keyword
          %span.pull-right Conversions
        .list-group-item
          %span.list-group-progress{:style => "width: 70%;"}
          %span.pull-right 15
          1. +fire +wood
        .list-group-item
          %span.list-group-progress{:style => "width: 15%;"}
          %span.pull-right 3
          2. +fire +wood +sale
        .list-group-item
          %span.list-group-progress{:style => "width: 13%;"}
          %span.pull-right 2
          3. +wood +sale
        .list-group-item
          %span.list-group-progress{:style => "width: 8.25%;"}
          %span.pull-right 1
          4. +wood +splitters
        .list-group-item
          %span.list-group-progress{:style => "width: 6.7%;"}
          %span.pull-right 1
          5. +buy +wood +splitter
        .list-group-item
          %span.list-group-progress{:style => "width: 3.3%;"}
          %span.pull-right 1
          6. +split +wood
  .hr-divider.m-t-lg.m-b-md
    %h3.hr-divider-content.hr-divider-heading Bing-Yahoo! Ad Network
  .row.statcards.ad-network-metrics.bing-ad-network
    .col-sm-3.m-b-md
      .statcard.statcard-info
        .p-a
          %span.statcard-desc Average Ad Position
          %h2.statcard-number
            1.00
            %small.delta-indicator.delta-positive 0%
          %hr.statcard-hr.m-b-0
        %canvas.dashboard-chart.sparkline.bing-ad-position-chart{:width => "111",
          :height => "27",
          :style => "width: 111px; height: 27px;"}
    .col-sm-3.m-b-md
      .statcard.statcard-info
        .p-a
          %span.statcard-desc Cost per Click
          %h2.statcard-number
            $0.00
            %small.delta-indicator.delta-negative 0%
          %hr.statcard-hr.m-b-0
        %canvas.dashboard-chart.sparkline.bing-cpc-chart{:width => "111",
          :height => "27",
          :style => "width: 111px; height: 27px;"}
    .col-sm-3.m-b-md
      .statcard.statcard-info
        .p-a
          %span.statcard-desc Conversion Rate
          %h2.statcard-number
            0.00%
            %small.delta-indicator.delta-negative 0%
          %hr.statcard-hr.m-b-0
        %canvas.dashboard-chart.sparkline.bing-conversion-rate-chart{:width => "111",
          :height => "27",
          :style => "width: 111px; height: 27px;"}
    .col-sm-3.m-b-md
      .statcard.statcard-info
        .p-a
          %span.statcard-desc Click Through Rate
          %h2.statcard-number
            0.00%
            %small.delta-indicator.delta-positive 0%
          %hr.statcard-hr.m-b-0
        %canvas.dashboard-chart.sparkline.bing-ctr-chart{:width => "111",
          :height => "27",
          :style => "width: 111px; height: 27px;"}
  .row.ad-network-keywords.bing-ad-network
    .col-md-6.m-b-md
      .list-group
        %h4.list-group-header
          Search Query
          %span.pull-right Clicks
        .list-group-item
          %span.list-group-progress{:style => "width: 50%;"}
          %span.pull-right 29
          1. fire wood
        .list-group-item
          %span.list-group-progress{:style => "width: 35%;"}
          %span.pull-right 15
          2. fire wood for sale
        .list-group-item
          %span.list-group-progress{:style => "width: 13%;"}
          %span.pull-right 10
          3. wood for sale
        .list-group-item
          %span.list-group-progress{:style => "width: 6.25%;"}
          %span.pull-right 7
          4. wood splitters
        .list-group-item
          %span.list-group-progress{:style => "width: 6.1%;"}
          %span.pull-right 1
          5. buy wood splitter
        .list-group-item
          %span.list-group-progress{:style => "width: 3.9%;"}
          %span.pull-right 1
          6. split wood
    .col-md-6.m-b-md
      .list-group
        %h4.list-group-header
          Keyword
          %span.pull-right Conversions
        .list-group-item
          %span.list-group-progress{:style => "width: 30%;"}
          %span.pull-right 5
          1. +fire +wood
        .list-group-item
          %span.list-group-progress{:style => "width: 25%;"}
          %span.pull-right 3
          2. +fire +wood +sale
        .list-group-item
          %span.list-group-progress{:style => "width: 23%;"}
          %span.pull-right 2
          3. +wood +sale
        .list-group-item
          %span.list-group-progress{:style => "width: 8.25%;"}
          %span.pull-right 1
          4. +wood +splitters
        .list-group-item
          %span.list-group-progress{:style => "width: 6.7%;"}
          %span.pull-right 1
          5. +buy +wood +splitter
        .list-group-item
          %span.list-group-progress{:style => "width: 3.3%;"}
          %span.pull-right 1
          6. +split +wood
  .hr-divider.m-t-lg.m-b-md
    %h3.hr-divider-content.hr-divider-heading Marchex Call Tracking
  .row.marchex-call-tracking
    .col-md-12.m-b-md.p-x-lg
      .table-full
        .table-responsive
          %table.table{ "data-sort" => :table }
            %thead
              %th.header Caller Name
              %th.header Phone Number
              %th.header Campaign
              %th.header Ad Group
              %th.header Time
              %th.header Duration
              %th.header Status
              %th.header.text-xs-center Recording
            %tbody
              %tr
                %td John Doe
                %td 555 123-1234
                %td Search
                %td RDAPPC - 1.27
                %td May 12th 3:04pm
                %td 00:01:56
                %td ANSWER
                %td.play-button.text-xs-center
                  %span.icon.icon-controller-play
              %tr
                %td Jane Doe
                %td 555 123-1234
                %td Search
                %td RDAPPC - 1.27
                %td May 12th 2:14pm
                %td 00:01:26
                %td ANSWER
                %td.play-button.text-xs-center
                  %span.icon.icon-controller-play
              %tr
                %td Sam David
                %td 555 123-1234
                %td Search
                %td RDAPPC - 1.27
                %td May 12th 4:39pm
                %td 00:01:42
                %td ANSWER
                %td.play-button.text-xs-center
                  %span.icon.icon-controller-play
              %tr
                %td Maggie Simpson
                %td 555 123-1234
                %td Search
                %td RDAPPC - 1.27
                %td May 12th 1:19pm
                %td 00:02:59
                %td ANSWER
                %td.play-button.text-xs-center
                  %span.icon.icon-controller-play
              %tr
                %td Mike Smith
                %td 555 123-1234
                %td Search
                %td RDAPPC - 1.27
                %td May 12th 7:09pm
                %td 00:01:21
                %td ANSWER
                %td.play-button.text-xs-center
                  %span.icon.icon-controller-play
              %tr
                %td William Glazer
                %td 555 123-1234
                %td Search
                %td RDAPPC - 1.27
                %td May 13th 5:04pm
                %td 00:02:06
                %td ANSWER
                %td.play-button.text-xs-center
                  %span.icon.icon-controller-play
              %tr
                %td Thomas Lewis
                %td 555 123-1234
                %td Search
                %td RDAPPC - 1.27
                %td May 12th 5:14pm
                %td 00:03:46
                %td ANSWER
                %td.play-button.text-xs-center
                  %span.icon.icon-controller-play
              %tr
                %td Lindsay West
                %td 555 123-1234
                %td Search
                %td RDAPPC - 1.27
                %td May 13th 6:54pm
                %td 00:00:56
                %td ANSWER
                %td.play-button.text-xs-center
                  %span.icon.icon-controller-play
              %tr
                %td Samantha Hoy
                %td 555 123-1234
                %td Search
                %td RDAPPC - 1.27
                %td May 13th 6:33pm
                %td 00:03:28
                %td ANSWER
                %td.play-button.text-xs-center
                  %span.icon.icon-controller-play
:javascript
  window.Icarus.metrics = #{@metrics.to_json};
%link{:href => "https://fonts.googleapis.com/css?family=Roboto:301,400,500,700,400italic", :rel => "stylesheet"}
= javascript_include_tag 'dashboards'
