%h1 Login

= javascript_include_tag 'https://cdn.auth0.com/js/lock-passwordless-1.0.min.js'

:javascript
  var clientID = 'kO0tWhIUJshfIB37j9fN15XrOPRIo8De';
  var domain = 'bishibop.auth0.com';

  var lock = new Auth0LockPasswordless(clientID, domain);

  function open() {
    lock.magiclink({
      callbackURL: 'https://ad-reports-staging.herokuapp.com/auth/auth0/callback',
      authParams: {
        scope: 'openid email'  // Learn about scopes: https://auth0.com/docs/scopes 
      }
    });
  }

%button{:onclick => "window.open();"} Magic Link
