// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashhead-toolbar {
  margin-top: 0px;

  .input-with-icon  {
    // Proper width for the date input
    width: 220px;
    // Gets the calendar icons in the datepicker to show up above the inputs
    .icon {
      z-index: 4;
    }
  }
}

// Styles the calendar icons inside the daterange picker
.daterangepicker_input i.icon-calendar {
  position: absolute;
  top: 5px;
  left: 10px;
  color: #ccc;
}

.navbar-nav {
  text-align: right;
}

.navbar-nav.logout {
  float: right;

  input {
    color: #555 !important;
    border-color: #555;
    font-weight: 500;
    margin-top: 0px;
  }

  input:hover {
    background-color: #ddd;
  }
}

@media (min-width: 992px) {
  .navbar-nav.logout {
    margin-top: 8px;
  }
}

@media (max-width: 991px) {
  .navbar-nav.logout {
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
  }
}

.navbar-inverse {
  background-color: #1a1c22;
  border-color: #1a1c22;

  .navbar-nav > .active > a, .navbar-nav > .active > a:hover {
    background-color: #1a1c22;
  }
}

.navbar-default {
  .navbar-brand {
    padding: 5px 15px;

    img { height: 100%; }
  }
}

.hr-divider-heading {
  font-size: 130%;
}

.financial-metrics{
  .total-leads, .calls, .forms, .cost, .cost-per-lead {
    display: inline-block;
  }

  .calls, .forms, .cost-per-lead {
    float: right;
    text-align: right;
  }

  .label {
    vertical-align: 30%;
  }

  .calls .label {
    background-color: #1CA8DD;
  }

  .forms .label {
    background-color: #E64759;
  }
}

.financial-metrics, .funnel-metrics {
  .statcard-desc {
    font-size: 125%;
  }
}

.ad-network-metrics {
  .statcard-desc {
    font-size: 100%;
  }

  h2 {
    font-size: 22px;
  }
}

.keywords-and-queries.adwords-ad-network {
  .list-group-progress {
    background-color: #DEF6FF;
  }
}

.keywords-and-queries.bingads-ad-network {
  .list-group-progress {
    background-color: #EFEBFF;
  }
}

.marchex-call-tracking table.dataTable {
  // Ordering icons
  thead {
    .sorting:after {
      content: "\EB3E";
      opacity: 0.2;
      font-family: 'toolkit-entypo';
    }
    .sorting_desc:after {
      content: "\EA42";
      /*content: "\EB74";*/
      color: #1CA8DD;
      opacity: 1;
      font-family: 'toolkit-entypo';
    }
    .sorting_asc:after {
      content: "\EA4D";
      /*content: "\EB77";*/
      color: #1CA8DD;
      opacity: 1;
      font-family: 'toolkit-entypo';
    }
  }

  // Styling for ordered column
  td.sorting_1 {
    background-color: #f3fcff;
  }
}

