// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-nav {
  text-align: right;
}

.navbar-nav.logout {
  float: right;
  li > button {
    margin-top: 0px;
  }
}

@media (min-width: 992px) {
  .navbar-nav.logout > li > button {
    margin-top: 8px;
  }
}

@media (max-width: 991px) {
  .navbar-nav.logout {
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
  }
}

.navbar-inverse {
  background-color: #1a1c22;
  border-color: #1a1c22;

  .navbar-nav > .active > a, .navbar-nav > .active > a:hover {
    background-color: #1a1c22;
  }
}

.navbar-default {
  .navbar-brand {
    padding: 5px 15px;

    img { height: 100%; }
  }
}

.dashhead-toolbar {
  margin-top: 0px;
}

.hr-divider-heading {
  font-size: 130%;
}

.financial-metrics{
  .leads, .calls, .forms, .cost, .cost-per-lead {
    display: inline-block;
  }

  .calls, .forms, .cost-per-lead {
    float: right;
    text-align: right;
  }

  .calls .label {
    background-color: #1CA8DD;
  }

  .forms .label {
    background-color: #E64759;
  }
}

.financial-metrics, .funnel-metrics {
  .statcard-desc {
    font-size: 125%;
  }
}

.ad-network-metrics {
  .statcard-desc {
    font-size: 100%;
  }

  h2 {
    font-size: 22px;
  }
}

.ad-network-keywords.google-ad-network {
  .list-group-progress {
    background-color: #DEF6FF;
  }
}

.ad-network-keywords.bing-ad-network {
  .list-group-progress {
    background-color: #EFEBFF;
  }
}

.marchex-call-tracking {
  .play-button {
    padding-right: 20px;

    .icon {
      border-style: solid;
      border-width: 1px;
      border-radius: 3px;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 10px;
      padding-right: 8px;
    }
  }
}
