// Place all the styles related to the Login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// You need all of these classes to have higher specificity than the library
.auth0-lock-container .auth0-lock .auth0-lock-center .auth0-lock-widget {
  width: 330px;

  .auth0-lock-name {
    color: #666;
  }

  .auth0-lock-confirmation .auth0-lock-confirmation-content {
    width: 80%;
  }
}
